body {
	padding-top: 50px;
}



.navbar {
	margin-bottom: 0;
}



.bike-section-image {
	background: center center url('../img/top.jpg') no-repeat;
	background-size: cover;
	padding: 120px 0;
}

.footer{
	background-color: #f7f7f7;
}


.margin-top-15 {
	margin-top: 15px;
}

.margin-20 {
	margin: 20px;
}